* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.debug {
    background-color: blueviolet;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.container.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    background-color: #3161e0;
    height: 80px;
    padding: 25px;
}

header .menu {
    width: 60%;
}

header .menu ul {
    list-style: none; 
    display: flex;
    justify-content: space-around;
}

header .menu li a {
    text-decoration: none;
    color: white;
    
}

header .menu li a:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 5em;
    text-decoration: none;
}

header .btn.accedi {
    background-color: white;
    border: 1px solid white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    color: black;
}

/* JUMBOTRON */

.jumbotron {
    height: 550px;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron .content {
    padding: 100px 0px;
    text-align: center;
    width: 50%;
}

.content h1 {
    margin-bottom: 40px;
}

.content p {
    margin-bottom: 30px;
}

.jumbotron .btn-set {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.jumbotron .btn.scarica {
    background-color: white;
    color: black;
    padding: 1em 1.5em;
}

.jumbotron .btn.apri {
    background-color: #23272A;
    color: white;
    padding: 1em 1.5em;
}

.fa-down-long {
    padding-right: 5px;
}

/* MAIN */

main .container {
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
}

main .img {
    flex-basis: 60%;  
}

main .container .description {
    flex-basis: 30%;
    line-height: 1.5em;
}

.description h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
}

main .bg-grey {
    background-color: #f6f6f6;
}

main .section-bottom .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-bottom .description {
    width: 80%;
    margin: 0 auto;
}

.section-bottom .big-img {
    width: 100%;
    margin-top: 30px;
}

.cta h3 {
    font-size: 27px;
    line-height: 1em;
    margin-bottom: 50px;
}

.cta .btn {
    padding: 1em 1.5em;
    background-color: #8EA1E1;
    color: white;
    margin-top: 20px;
}

footer {
    background-color: #23272a;
    color: white;
}

.footer-top.container {
    padding-top: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

footer .social {
    flex-basis: 25%;
}

footer .social h2 {
    padding-bottom: 5px;
}

footer .social ul {
    display: flex;
    list-style: none;
}

.social li {
    padding: 5px;
}

footer .menu ul {
    list-style: none;
}

.footer-bottom.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}